/*admin css*/
body {
  background-color: #f8f9fa;
}

h3 {
  font-weight: 600;
}

.table th {
  background-color: #f1f1f1;
  text-align: center;
}

.table td {
  text-align: center;
}

.pagination {
  justify-content: center;
}
