*{
    text-align: center;
}

html{
    background-color: rgba(80%, 60%, 80%, 0.5);
    font-size: 16px;
}

body{
    width: 640px;
    margin: auto; /* 너비에서 남는 여백을 동일하게 분배 */
}

h1{
    color: rgb(100%, 0%, 70%);
    font-size: 48px;
}

img{
    height: 300px;
    border-radius: 50px;
}


p{
    font-size: 1.5rem;
}