*{
  box-sizing: border-box;
}

html{
  height: 97%;
}

body{
  height: 100%;
  margin: 0;
}

.container{
  height: 100%;
  background-color: gray;
}

.chat-screen{
  height: calc(100% - 80px);
}

.user{
  background-color: white;
  padding: 16px;
  height: 80px;
}

.user_column{
  float: left;
}

.user_pic{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: gray;
}

.user_nick, .user_count{
  margin: 1px;
}

.user_count{
  font-size: 12px;
  color: gray;
}

.chat-form{
  height: 80px;
  background-color: white;
}


.chat-form_field{
  height: 80px;
}

.chat-form_msg{
  float: left;
  resize: none;
  width: calc(100% - 120px);
  height: 120px;
  border: none;
  font-size: 20px;
  padding: 10px;
}

.chat-form_bt{
  float: left;
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 10px;
  background-color: rgb(182, 182, 182);
  font-size: 18px;
}

.chat-form_msg:focus{
  outline: none;
}

.chat-form_bt:active{
  background-color: gray;
}

input{
  color: rgb(91, 91, 91);
}